<!-- include header.ejs -->
<%- include('partials/header.ejs') %>
<h1>404 Error</h1>
<h2>Nothing here get out</h2>

<!-- nav -->
<%- include('partials/nav.ejs') %>
<!-- include footer.ejs -->
<%- include('partials/footer.ejs') %>
