<!-- include header.ejs -->
<%- include('partials/header.ejs') %>
<h1>About me</h1>
<h2>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto
  laboriosam dolore autem voluptas laborum ipsa, dolorum magni cupiditate
  inventore dolorem consectetur unde perspiciatis repellendus velit quia fuga
  sed assumenda cum.
</h2>
<!-- include nav.ejs -->
<%- include('partials/nav.ejs') %>
<!-- include footer.ejs -->
<%- include('partials/footer.ejs') %>
