<!-- include header.ejs -->
<%- include('partials/header.ejs') %>
<h1>Contact</h1>
<h2>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci est rem,
  dolore facere ratione maiores earum natus illum totam, sunt quibusdam iusto
  quam corporis cumque quod optio. Eligendi, praesentium pariatur?
</h2>
<%- include('partials/nav.ejs') %>
<!-- include footer.ejs -->
<%- include('partials/footer.ejs') %>
